.advantages {
    
    .advantages__title {
        h1 {
            font-family: 'Alegreya', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 65px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #3C2F51;
            margin: 0 0 75px 0px;
        }
    }
    .advantages__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 2;
        .advantages__item {
            padding-right: 25px;
            width: 320px;
            height: 308px;
            padding-bottom: 80px;
            .advantages__item-img {
                padding-bottom: 28px;
                img {
                    border-radius: 25px;
                }
            }
            .advantages__item-content {
                display: flex;
                align-items: center;
                padding: 0px 5px;
                img {
                    padding-right: 25px;
                    padding-bottom: 15px;
                }
                h3 {
                    font-family: PT Sans;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    color: #3C2F51;
                }
            }
        }
        .advantages__item:nth-last-child(-n+2),
        .advantages__item:last-child {
            padding-bottom: 0px;
        }
    }
    .advantages__list:before {
        content: "";
        position: absolute;
        top: 96px;
        width: 100%;
        background: linear-gradient(270deg, #FFAFBD 0%, #FFC3A0 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        height: 400px;
        z-index: -1;
    }
}
