.hall {
    height: 256px;
    padding-bottom: 128px;
    overflow: visible;
}
.owl-item.active .hall__item img {
    height: 240px;
    transition-property: height;
    transition-duration: 0.5s;
}
.owl-item.active .hall__item:hover img {
    height: 256px;
}
